# Force GitHub to detect Flutter/Dart as the main language
*.dart linguist-detectable=true

# Ignore native/platform-specific files
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.java linguist-detectable=false
*.kt linguist-detectable=false
*.m linguist-detectable=false
*.mm linguist-detectable=false
*.swift linguist-detectable=false
*.c linguist-detectable=false
*.cc linguist-detectable=false
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false

# Ignore generated platform folders
android/** linguist-vendored
ios/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
linux/** linguist-vendored
web/** linguist-vendored
